<% die1 = rand(1..6)%>
<% die2 = rand(1..6)%>
<% total = die1 + die2%>

<p>The total is: </p>
<p><img src="/images/dice/<%= die1%>.svg" alt="<%= total%>"><img src="/images/dice/<%= die2%>.svg" alt="<%= total%>"></p>

<p><a href="/dice">Roll again!</a></p>